<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Web App</title>
    <link rel="stylesheet" href="style.css">
    <style>
        *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #dddd;
}
header{
    width: 100%;
    min-height: 4rem;
    padding: 0 4rem;
    display: flex;
    justify-content: center;
    background-color: #2e2e2e;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.nav__logo{
    flex: 4;
}
.nav__logo h1{
    color: #dddd;
}
.nav__nav{
    flex: 2;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}
.nav__nav li a{
    text-decoration: none;
    color: #dddd;
    transition: color 0.2s ease-in-out;
}
.nav__nav li a:hover{
    color: #e4e4e4;
}
main{
    width: 100vw;
    min-height: 32rem;
    padding: 2rem 4rem;
}
.main__container-article p{
    white-space: pre-wrap;
    margin-top: 2rem;
}
.footer{
    border: 1px solid #2e2e2e;
    width: 100vw;
    height: 5rem;
    background-color: #2e2e2e;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer p {
    color: #dddd;
}
    </style>
</head>
<body>
    <header>
        <nav>
            <div class="nav__logo">
                <h1>Web App</h1>
            </div>
            <ul class="nav__nav">
                <li><a href="/">Article</a></li>
                <li><a href="/article">Make Article</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="main__container-article">
            <h1><%= data.title %></h1>
            <p id="article"><%= data.body %></p>
        </div>
    </main>
<%- include('partials/footer.ejs') %>