<%- include('partials/header.ejs') %>
    </header>
    <main>
        <div class="main__container-article">
            <h1><%= data.title %></h1>
            <p id="article"><%= data.body %></p>
        </div>
    </main>
<%- include('partials/footer.ejs') %>